.waiter-container {
  justify-content: center;
  /* min-height: 60px; */
  align-items: stretch;
  /* max-height: 100px; */
}

.waiter-data {
  width: 100px;
  justify-content: space-around;
  margin-bottom: 5px;
}
.container,
.waiter-data,
.mini-grid {
  border: var(--light-line-color);
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 4px 1px;
}

.priority {
  border: 1px solid red;
}
/* .container,
.containerName {
  min-height: 100px;
} */
/* GRID PARTIES */
.grid-box-waiters {
  padding-left: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  overflow-x: scroll;
  /* width: min(70vw, 800px); */
  gap: 5px;
  margin-right: 100px;
}
/* .grid-box-waiters:first-child */

.mini-grid {
  height: 35px;
  width: 35px;
  color: var(--text-color);
  background-color: unset;
  /* grid-template-columns: 1fr, 1fr, 1fr; */
}
.section {
  font-weight: 900;
  color: rgb(255, 0, 0);
}
h3 {
  text-align: center;
}
