<div class="flex-row-center waiter-container">
  <div class="waiter-data flex-col-center" [ngClass]="isMin ? 'priority' : ''">
    <h3 (click)="navigateAddWaiterRoute(waiter?.waiter?.[0].name || '')">
      {{ waiter?.waiter?.[0].name || "" }}
    </h3>
    <h3 class="section">{{ waiter.section }}</h3>
  </div>
  <!-- <div class="container">
    <div class="boxes"></div>
  </div> -->
  <div *ngIf="showShifts === true" class="grid-box-waiters">
    <ng-container *ngFor="let reservation of shiftTables">
      <button (click)="processWaiterClick(reservation)" class="mini-grid">
        <div class="flex-row-center">
          {{ reservation.partySize }}
        </div>
        <!-- app component of partyDetails that takes the current Store as an Input -->
        <!-- click should expand party details -->
      </button>
    </ng-container>
  </div>
</div>
