.waiter-container {
  justify-content: center;
  height: 100%;
  align-items: stretch;
}

.waiter-data {
  width: 100px;
  justify-content: space-around;

  margin-bottom: 5px;
}
.container,
.waiter-data,
.mini-grid {
  border: var(--light-line-color);
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.container,
.containerName {
  min-height: 100px;
}
/* GRID PARTIES */
.grid-box-waiters {
  padding-left: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  overflow-x: scroll;
  height: 150px;
  width: min(70vw, 800px);
  margin-right: 100px;
}
/* .grid-box-waiters:first-child */

.grid-box-waiters::-webkit-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #dddddd #ffffff;
}
.grid-box-waiters::-webkit-scrollbar-thumb {
  background-color: #dddddd;
  border-radius: 4px;
}

.grid-box-waiters::-webkit-scrollbar-track {
  background-color: #ffffff;
  /* border-radius: 10px; */
}

.mini-grid {
  height: 35px;
  width: 35px;
  color: var(--text-color);
  background-color: unset;
  /* grid-template-columns: 1fr, 1fr, 1fr; */
}
.section {
  font-weight: 900;
  color: rgb(255, 0, 0);
}
h3 {
  text-align: center;
}
