<div class="flex-col-center">
  <div *ngIf="!(login$ | async)" class="flex-col-center">
    <h1>{{ isRegister ? "Register" : "Login" }}</h1>

    <button (click)="toggleRegister()">
      <span>{{ !isRegister ? "Register" : "Login" }}</span>
      <!-- <span *ngIf="isRegister === false">Register</span> -->
    </button>
  </div>
  <button *ngIf="login$ | async" (click)="handleLogout()" class="warning">
    Logout
  </button>

  <!-- <app-register *ngIf="isRegister === true"></app-register> -->

  <form
    (submit)="handleSubmit($event)"
    class="flex-col-center"
    (input)="handleChange()"
    [formGroup]="FormAuth"
    *ngIf="!(login$ | async)"
  >
    <div class="form-input">
      <label for="username"
        >Username: <span class="mini-text">*req</span></label
      >
      <input
        type="text"
        id="username"
        name="username"
        formControlName="username"
        required="true"
      />
      <app-form-error
        [formData]="username"
        [name]="'Username'"
      ></app-form-error>
    </div>
    <div class="form-input">
      <label for="password"
        >Password: <span class="mini-text">*req</span></label
      >
      <input
        type="password"
        id="password"
        name="password"
        formControlName="password"
        required="true"
      />
      <app-form-error
        [formData]="password"
        [name]="'Password'"
      ></app-form-error>
    </div>
    <div class="form-input" *ngIf="!isRegister">
      <label
        >Remember Me:
        <input
          type="checkbox"
          id="rememberMe"
          name="rememberMe"
          value="rememberMe"
          formControlName="rememberMe"
        />
      </label>
    </div>
    <div class="form-input" *ngIf="isRegister">
      <label for="repeatPassword"
        >Password (2): <span class="mini-text">*req</span></label
      >
      <input
        type="password"
        id="repeatPassword"
        name="repeatPassword"
        formControlName="repeatPassword"
        required="true"
      />
      <app-form-error
        [formData]="repeatPassword"
        [name]="'Password (2)'"
      ></app-form-error>
    </div>

    <button type="submit" class="primary-color">
      {{ isRegister ? "Register" : "Login" }}
    </button>

    <span *ngIf="message.length > 1"> Note: {{ message }}</span>
    <div class="line"></div>
    <!-- <form
      target="_blank"
      action="http://localhost:3000/api/login/oauth"
      method="get"
    > -->

    <button type="button" class="wide google" (click)="processGoogleClick()">
      <!-- <a target="_blank" href="http://localhost:3000/api/login/oauth"> -->
      <!-- <button type="button" class="wide google"> -->
      <span class="lower-font-weight">{{
        isRegister ? "Sign Up with " : "Log in with "
      }}</span
      >Google
    </button>
    <!-- </a> -->
    <!-- </form> -->

    <button type="button" class="wide google" (click)="processTestAccount()">
      user: <span class="lower-font-weight">admin</span> | pass:
      <span class="lower-font-weight">password@</span>
    </button>
  </form>

  <h4 *ngIf="login$ | async" (click)="handleLogout()" class="">
    Welcome to Smooth Dining!
  </h4>
  <div *ngIf="loading$ | async" class="loading">
    <app-loading></app-loading>
  </div>
  <p *ngIf="!(login$ | async)">
    NOTE: Backend is <strong><em>Free-tier</em></strong
    >, and may be asleep due to inactivity. Extended loading may be due to
    server starting.
  </p>
</div>
