<div class="flexcolcenter">
  <button (click)="toggleRegister()">
    <span *ngIf="isRegister === true">Login</span>
    <span *ngIf="isRegister === false">Register</span>
  </button>
  <!-- <app-register *ngIf="isRegister === true"></app-register> -->

  <form
    (submit)="handleSubmit($event)"
    class="flexcolcenter"
    (input)="handleChange()"
    [formGroup]="FormAuth"
  >
    <div class="formInput">
      <label for="username">Username: <span class="minitext">*req</span></label>
      <input
        type="text"
        id="username"
        name="username"
        formControlName="username"
        required="true"
      />
      <app-form-error
        [formData]="username"
        [name]="'Username'"
      ></app-form-error>
    </div>
    <div class="formInput">
      <label for="password">Password: <span class="minitext">*req</span></label>
      <input
        type="text"
        id="password"
        name="password"
        formControlName="password"
        required="true"
      />
      <app-form-error
        [formData]="password"
        [name]="'Password'"
      ></app-form-error>
    </div>
    <div class="formInput" *ngIf="isRegister">
      <label for="repeatPassword"
        >Password (2): <span class="minitext">*req</span></label
      >
      <input
        type="text"
        id="repeatPassword"
        name="repeatPassword"
        formControlName="repeatPassword"
        required="true"
      />
      <app-form-error
        [formData]="repeatPassword"
        [name]="'Password (2)'"
      ></app-form-error>
    </div>
    <button type="submit" class="primaryColor">
      {{ isRegister ? "Register" : "Login" }}
    </button>

    <span *ngIf="message.length > 1"> Note: {{ message }}</span>
  </form>
  <button type="submit" *ngIf="">Logout</button>
</div>
