.party-form {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  z-index: 99;
  min-width: 300px;
  /* transform: translate(150%, 150%); */
}

.party-form-relative {
  display: flex;
  padding: 3px;
}
.info {
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  width: 14;
  height: 14px;
  font-weight: 800;
  text-align: center;
  font-size: 14px;

  position: absolute;
  left: -30px;
  top: 0px;

  user-select: none;
}
.show-info {
  position: absolute;
  width: 100vw;
}
.mini {
  background-color: white;
  border: 1px solid grey;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.submit-button > button,
.submit-button {
  margin: 2px;
}

.party-button {
  margin: -10px;
  margin-top: -20px;
}
@media (max-width: 500px) {
  .party-form {
    padding: 0px;
    min-width: none;
  }
}
