.party-form {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: var(--background-color);
  transform: translate(-50%, -50%);
  z-index: 99;
  min-width: 300px;
  /* transform: translate(150%, 150%); */
}

.party-form-relative {
  display: flex;
  padding: 3px;
}
/* .info {
  border-radius: 50%;
  border: 1px solid;
  border-color: var(--background-color);
  background-color: var(--background-color);
  width: 16;
  height: 16px;
  font-weight: 800;

  font-size: 16px;

  position: absolute;
  left: -30px;
  top: 0px;

  user-select: none;
} */
.show-info {
  position: absolute;
  width: 100vw;
}
.mini {
  background-color: white;
  border: 1px solid grey;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.submit-button > button,
.submit-button {
  margin: 2px;
}

.party-button {
  margin: -10px;
  margin-top: -20px;
}
@media (max-width: 500px) {
  .party-form {
    padding: 0px;
    min-width: none;
  }
}
