<div class="gridActiveWaiters flex-col-center">
  <h2>
    Workstation (In Progress) |
    <span class="current-time radius">{{ getTime() }}</span>
  </h2>
  <div class="alert-danger" *ngIf="createPartyError">
    <h4>{{ createPartyError }}</h4>
  </div>
  <div class="flex-col-center">
    <div class="shift-buttons">
      <button type="button" (click)="decreaseShiftNumber()"><</button>
      <button type="button" (click)="increaseShiftNumber()">></button>
    </div>
    <button (click)="togglePartyForm()">Add Party</button>
    <div class="party-list">
      <ng-container *ngFor="let party of activeParties; let i = index">
        <app-party-data [party]="party" [index]="i"></app-party-data>
      </ng-container>
    </div>
    <app-party-form
      *ngIf="showParty"
      [togglePartyForm]="togglePartyForm"
      (error)="processError($event)"
    >
    </app-party-form>
  </div>

  <div class="waiter-data flex-col-center">
    <ng-container *ngFor="let activeWorkerShift of activeWaiter">
      <div class="separation"></div>
      <app-waiter-active-row
        [waiter]="activeWorkerShift"
        [showShifts]="true"
        (clickedShiftID)="processEmitShift($event)"
      ></app-waiter-active-row>
    </ng-container>
  </div>

  <div *ngIf="toggleAddParty" class="container">
    <app-manage-waiter-table
      [activeParties]="activeParties"
      (toggleView)="emitShiftProcessFinish($event)"
      [shiftDataID]="shiftDataID"
    >
    </app-manage-waiter-table>
  </div>
</div>
