.separation {
  margin: 10px;
  padding: 0px;
  width: 100%;
}
.gridActiveWaiters {
  margin-top: 10px;
  position: relative;
  width: 100vw;
}
.gridActiveWaiters > div {
}
.shift-buttons {
  position: fixed;
  bottom: 1px;
}

.separation {
}
