.separation {
  margin: 10px;
  padding: 0px;
  width: 100%;
}
.gridActiveWaiters {
  margin-top: 10px;
  position: relative;
  width: 100vw;
}
.alert-danger {
  padding: 5px;
}

.shift-buttons {
  position: fixed;
  bottom: 1px;
}

/* .separation {
} */

.party-list {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;
  overflow-x: scroll;
}
.party-list::-webkit-scrollbar {
  display: none;
}

.current-time {
  padding: 2px;
}
