<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<body id="{{ (toggleBackground | async) ? 'hide-background' : '' }}">
  <div id="{{ (toggleBackground | async) ? 'hide-background' : '' }}">
    <!-- <div>{{ toggleBackground | async }}</div> -->
    <app-nav
      id="{{ (toggleBackground | async) ? 'hide-background' : '' }}"
      class="navbar"
    ></app-nav>
    <router-outlet></router-outlet>
  </div>
</body>
