.header {
  margin: 10px;
  display: flex;
}
.github {
  height: fit-content;
  vertical-align: center;
  margin-top: 3px;
}
nav {
  font-size: 30px;
  max-height: 90px;
  position: absolute;
  right: 10px;
  bottom: 0px;
}
nav > a {
  padding: 10px;
}

@media (max-width: 450px) {
  .header {
    margin: 4px;
    width: 95%;
  }
}
