<div class="flex-col-center">
  <!-- <button><span class="fontEmphasis">+</span> Waiter</button> -->

  <a
    routerLink="/store/home"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    (isActiveChange)="this.onRouterLinkActive($event)"
  >
    <button class="headers">
      <h1 class="header-text">
        {{ (storeData$ | async)?.storeName }}
      </h1>
    </button>
  </a>
  <!-- <form class="flx-row-center date-form"> -->
  <div class="flex-col-center homeContainer">
    <div class="separation">
      <button class="minimize-button" (click)="processView()">></button>
    </div>

    <div class="flex-col-center" [ngClass]="{ minimize: toggleMini }">
      <input
        class="date"
        type="date"
        [value]="date()"
        name="date"
        (change)="handleDateUpdate($event)"
      />
      <!-- MIGHT NEED TO @OUTPUT MY DATE DATA -->
      <a
        routerLink="/store/day"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        (isActiveChange)="this.onRouterLinkActive($event)"
      >
        <button class="wide tall primary-color">
          <h3>VIEW DATE INFO</h3>
        </button>
      </a>
    </div>
  </div>
  <div class="separation"></div>
  <router-outlet></router-outlet>
</div>
