<div class="flex-col-center">
  <!-- <button><span class="fontEmphasis">+</span> Waiter</button> -->
  <a
    routerLink="/store/home"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    <button class="wide primary-color header">
      <h1 class="">
        {{ (storeData$ | async)?.storeName }}
      </h1>
    </button>
  </a>
  <!-- <form class="flx-row-center date-form"> -->
  <div class="separation"></div>
  <input
    class="date"
    type="date"
    [value]="date()"
    name="date"
    (change)="handleDateUpdate($event)"
  />
  <!-- MIGHT NEED TO @OUTPUT MY DATE DATA -->
  <a
    routerLink="/store/day"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    <button class="wide tall">
      <h3>VIEW INFORMATION</h3>
    </button>
  </a>

  <router-outlet></router-outlet>
</div>
