.store-view {
  position: relative;
}
.date-form {
  display: flex;
  justify-content: center;
}
.date {
  margin-top: 10px;
  padding: 8px;
  color: black;
  opacity: calc(75%);
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 1.4rem;
}

a {
  padding: 0px;
}
.headers {
  min-width: 450px;
  cursor: pointer;
  background-color: var(--background-color);
  border: 2px solid black;
}
.separation {
  position: relative;
  margin-top: -20px;
  padding: 10px 0px;
  border-bottom: 1px solid rgb(179, 179, 179);
}
.minimize {
  min-height: 20px;
  display: none;
}
.homeContainer {
  position: relative;
}
.minimize-button {
  margin: 1px;
  padding: 2px;

  position: absolute;
  background-color: var(--background-color);
  width: 15px;
  vertical-align: middle;
  text-align: center;
  color: rgb(95, 95, 95);
  transform: rotate(90deg);
  right: 0px;
  top: 20px;
}

@media (max-width: 450px) {
  ::root {
    --mobileWidth: fit-content;
  }

  .headers {
    min-width: var(--mobileWidth);
    width: 95vw;
  }
  .separation {
    min-width: var(--mobileWidth);
    width: 95%;
  }
}
