.store-view {
  position: relative;
}
.date-form {
  display: flex;
  justify-content: center;
}
.date {
  margin-top: 10px;
  padding: 8px;
  color: black;
  opacity: calc(75%);
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 1.4rem;
}

a {
  padding: 0px;
}
.headers {
  min-width: 450px;
  cursor: pointer;
}
.separation {
  margin-top: -20px;
}
