<div class="flex-col-center">
  <form class="searchForm" (submit)="addActiveToday($event, sectionNumber)">
    
    <div class="form-input">
      <label for="search">Name: </label>
      <input
        (input)="processChangeSearchName($event)"
        type="search"
        name="search"
        id="search"
        value="{{ searchName }}"
      />
    </div>
    <div class="form-input">
      <label for="section">Section: </label>
      <input
        (change)="updateSectionNumber($event)"
        type="number"
        name="section"
        id="section"
        value="{{ sectionNumber }}"
        min="1"
      />
    </div>
    <div class="shiftNumber">
      <button type="button" (click)="subtractShiftNumber()" class="mini">
        Back
      </button>
      <button type="button" (click)="updateShift()" class="primary-color">
        Shift Number: <br />
        {{ shiftNumber }}
      </button>
      <button type="button" (click)="addShiftNumber()" class="mini">
        Next
      </button>
    </div>
    <div class="dropdown" *ngIf="filteredWaiter && filteredWaiter.length > 0">
      <button
        type="button"
        *ngFor="let waiter of filteredWaiter"
        class="dropdownselector"
        (click)="clickPerson(waiter.name)"
      >
        {{ waiter.name }}
      </button>
    </div>
    <div class="alert alert-danger" *ngIf="formError">
      <span>{{ formError }}</span>
    </div>
    <button class="wide primary-color">Add Waiter To List</button>
  </form>

  <button class="primary-color">Start (Need to Implement Link)</button>
  <h3>
    Waiters ({{ dailyActiveWaiter.length }}) on Shift Number: {{ shiftNumber }}
  </h3>

  <div class="gridActiveWaiters">
    <div *ngFor="let activeWorker of dailyActiveWaiter">
      <app-waiter-active-row [waiter]="activeWorker"></app-waiter-active-row>
    </div>
  </div>
</div>
