<div class="flex-col-center shift-create-view">
  <form
    class="searchForm flex-col-center"
    (submit)="addActiveToday($event, sectionNumber)"
  >
    <h2 class="black">Create Shifts</h2>
    <div class="form-input">
      <label for="search">Search: </label>
      <input
        (input)="processChangeSearchName($event)"
        type="search"
        name="search"
        id="search"
        value="{{ searchName }}"
        placeholder="Name | Click Options Below"
      />
    </div>
    <div
      class="dropdown flex-col-center"
      *ngIf="filteredWaiter && filteredWaiter.length > 0"
    >
      <button
        type="button"
        *ngFor="let waiter of filteredWaiter"
        class="dropdownselector"
        (click)="clickPerson(waiter.name)"
      >
        {{ waiter.name }}
      </button>
    </div>
    <div class="form-input">
      <label for="section">Section: </label>
      <input
        (change)="updateSectionNumber($event)"
        type="number"
        name="section"
        id="section"
        value="{{ sectionNumber }}"
        min="1"
      />
    </div>
    <div class="flex-col-center">
      <label>Shift Number:</label>
      <div class="shiftNumber">
        <button type="button" (click)="subtractShiftNumber()" class="mini">
          Back
        </button>
        <button type="button" (click)="updateShift()" class="primary-color">
          (Update Shift View) <br />
          {{ shiftNumber }}
        </button>
        <button type="button" (click)="addShiftNumber()" class="mini">
          Next
        </button>
      </div>
    </div>

    <div class="alert alert-danger" *ngIf="formError">
      <span>{{ formError }}</span>
    </div>
    <button class="wide primary-color">Add Waiter to Day's Shift</button>
  </form>
  <div class="flex-col-center">
    <button class="primary-color">Start (Need to Implement)</button>
    <h2 class="shift-title">
      Waiters ({{ dailyActiveWaiter.length }}) for Shift Number:
      {{ displayShiftNumber }}
    </h2>

    <div class="gridActiveWaiters">
      <div *ngFor="let activeWorker of dailyActiveWaiter">
        <app-waiter-active-row [waiter]="activeWorker"></app-waiter-active-row>
      </div>
    </div>
  </div>
</div>
