.searchForm {
  text-align: center;
  margin: 10px;
  position: relative;
}
.dropdown {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: scroll;
}
.dropdown::-webkit-scrollbar {
  width: 10px;
}

.dropdown::-webkit-scrollbar-thumb {
  background-color: #979797; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Border radius of the scrollbar thumb */
}
.dropdown::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 4px; /* Border radius of the scrollbar track */
}
.dropdownselector {
  padding: 5px;
  margin: 0px;
  width: 100%;
}
.shiftNumber {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.gridActiveWaiters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.form-input {
  display: block;
}
.form-input > label {
  text-align: left;
}
