<ng-container *ngIf="index <= 10">
  <div
    class="button-style mini party-data"
    [ngClass]="
      displayToggle == false ? 'party-data' : 'focus-party-data primary-color'
    "
    (mouseenter)="displayPartyData($event, true)"
    (mouseleave)="displayPartyData($event, false)"
  >
    <ng-container *ngIf="!displayToggle">
      <span>Guest: {{ party.partySize }}</span>
      <span>{{ party.name }}</span>
      <span>{{ convertToLocalTime(party?.reservationDateTime) }}</span>
    </ng-container>
    <ng-container *ngIf="displayToggle" class="focus-party-data">
      <span>Guest: {{ party.partySize }}</span>

      <span> {{ party.name }}</span>
      <span>{{ convertToLocalTime(party?.reservationDateTime) }}</span>
      <span>{{ party?.phoneNumber || "000-000-0000" }} </span>
      <button class="cancel" (click)="updateStatusCancel($event)">X</button>
      <button class="edit" (click)="updateStatusCancel($event)">Edit</button>
    </ng-container>
  </div>
</ng-container>
