<ng-container *ngIf="index <= 10">
  <button
    class="mini party-data"
    [ngClass]="displayToggle == false ? 'party-data' : 'focus-party-data'"
    (mouseenter)="displayPartyData(true)"
    (mouseleave)="displayPartyData(false)"
  >
    <ng-container *ngIf="!displayToggle">
      {{ party.partySize }}
      {{ party.name }}
      {{ convertToLocalTime(party?.reservationDateTime) }}
    </ng-container>
    <ng-container *ngIf="displayToggle" class="focus-party-data">
      <span>Guest: {{ party.partySize }}</span>

      <span>Name: {{ party.name }}</span>
      <span>Time: {{ convertToLocalTime(party?.reservationDateTime) }}</span>
      <span>{{ party?.phoneNumber || "000-000-0000" }} </span>
    </ng-container>
  </button>
</ng-container>
