<div class="container">
  <div class="flex-row-center">
    <button class="warning mini" (click)="toggleDisplayShifts('close')">
      x
    </button>
    <h1>Click a Party for Section {{ shiftDataID.section }}</h1>
  </div>
  <ng-container *ngIf="loading">
    <app-loading></app-loading>
  </ng-container>
  <div class="active-parties">
    <ng-container *ngFor="let party of activeParties; let i = index">
      <app-party-data
        [party]="party"
        [index]="i"
        [minimum]="50"
        [buttonValue]="'Choose'"
        (partyChoice)="processPartyChoiceMain($event)"
      ></app-party-data>
    </ng-container>
  </div>
  <div class="generic-form">
    <app-party-form
      (error)="processError($event)"
      (partyID)="processPartyId($event)"
      [onlyGeneric]="true"
      class="party-form"
    ></app-party-form>
  </div>
</div>
