<div class="flex-col-center store-view">
  <form class="add-waiter flex-col-center" [formGroup]="FormAuth">
    <h1>Create Waiter</h1>

    <div class="form-input">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        formControlName="fullname"
        required="true"
      />
      <!-- <app-form-error
        [formData]="fullname"
        [name]="'Fullname'"
      ></app-form-error> -->
    </div>

    <div class="form-input">
      <label for="birthday">Birthday:</label>
      <input
        type="date"
        id="birthday"
        name="birthday"
        formControlName="birthday"
      />
    </div>

    <app-number-input
      (numberEmit)="handleEmit($event)"
      [for]="'maxactive'"
      [label]="'Max Active Table'"
      [default]="5"
    ></app-number-input>
    <div class="font-emphasis" [ngClass]="{ 'alert-danger': error }">
      <h3>{{ error }}</h3>
    </div>
    <button (click)="addNewWaiter()">
      <span class="font-emphasis">+</span> Waiter
    </button>
  </form>
  <button class="wide tall primary-color">
    <h3>View All Waiters (TBD)</h3>
  </button>
</div>
