/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #0099ff;
  --secondary-color: #cbe4f3;
  --text-color: black;
  --light-text-color: #0d0e0f;
  --background-color: #fbfcfc;
  --nav-background-color: white;
  --error-color: rgb(255, 92, 92);
  --wideButton: 300px;

  --light-line-color: 1px solid rgb(179, 179, 179);

  /* --warning: rgb(255, 87, 87); */
}

[data-theme="dark"] {
  --background-color: black;
  --text-color: white;
  --light-text-color: #c9c9c9;
}
body {
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  color: var(--text-color);
  font-weight: 800px;
  margin: 0px;
  min-width: 300px;
  position: relative;
  background-color: var(--nav-background-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
h1 {
  font-weight: 800;
}
.black {
  color: black;
}
a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
  color: var(--text-color);
}

button,
.button-style {
  width: 100px;
  background-color: var(--secondary-color);
  border: 1px solid white;
  border-radius: 6px;
  justify-content: center;
  padding: 10px 5px;
  margin: 10px 2px;
  font-size: 15px;
  font-weight: 800;
}

form,
form > div > input {
  border: 1px solid rgb(185, 185, 185);
  border-radius: 5px;
  padding: 4px;
}

form {
  border-radius: 10px;
  padding: 15px 0px;
  position: relative;
  max-width: 450px;
}

form > div {
  position: relative;
  margin: 8px;
}
input:invalid {
  border: 2px solid var(--error-color);
}
label {
  font-weight: 600;
}
button:active {
  position: relative;
  top: 2px;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #c2c2c2; /* Color of the scrollbar thumb */
  border-radius: 3px; /* Border radius of the scrollbar thumb */
}

/* form */
.form-input {
  display: flex;
  flex-direction: column;
  padding: 3px;
  min-width: 200px;
}

.number-button {
  border: var(--light-line-color);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 0px;

  font-size: 30px;
  background-color: white;
}
/* input NUMBERS BUTTON */
.number-input {
  display: flex;
  flex-direction: row;
  border: 0;
  align-items: center;
}
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  width: 30px;
  margin: 5px;
  padding: 2px;
  border: none;
  font-size: 20px;
  text-align: center;
  font-weight: 800;
  color: #0099ff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.separation {
  position: relative;
  margin-top: -10px;
  padding: 10px 0px;
  border-bottom: var(--light-line-color);
  min-width: 400px;
  width: 70%;
}
.text-emphasis {
  color: var(--error-color);
}
.alert-danger {
  color: white;
  font-weight: 800;
  display: flex;
  justify-content: center;
  margin-bottom: -15px;
  font-size: 15px;
}
.alert-danger > * {
  background-color: var(--error-color);

  width: fit-content;
  border-radius: 10px;
  border: 1px solid var(--error-color);
  padding: 3px;
  margin: 1px;
  max-width: 500px;
}
/*NAV HEADER */
.header {
  padding: 5px 0px;
  height: 60px;
  position: relative;
  border-bottom: 1px solid #bfc9ca;
}
/* ACTIVE NAV LINK */
.active {
  font-weight: 800;
}

/* HELPER CSS */

.header-text {
  text-align: center;
  min-width: 450px;
}
.header-text {
  overflow: hidden;
  text-overflow: ellipsis;
}
.primary-color {
  background-color: var(--primary-color);
  color: white;
}

.wide {
  width: 300px;
}
.mini {
  width: 50px;
}
.tall {
  height: 50px;
}
.flex-col-center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row-center {
  display: flex;
  align-items: center;
  vertical-align: center;
}
.mini-text {
  font-size: 11px;
  vertical-align: top;
  position: relative;
  right: 0px;
}
.font-emphasis {
  font-weight: 800px;
}

.lower-font-weight {
  font-weight: 400;
}

.warning {
  background-color: var(--error-color);
}

.radius {
  border-radius: 5px;
  border: 1px solid black;
}

.border {
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 2px;
  border: 2px solid black;
}

@media (max-width: 500px) {
  ::root {
    --mobileWidth: 100vw;
  }
  .header {
    width: var(--mobileWidth);
    width: 98%;
  }

  .header-text {
    min-width: var(--mobileWidth);
  }

  .separation {
    min-width: var(--mobileWidth);
    width: 90%;
  }

  .wide {
    width: min(90vw, 300px);
  }

  form {
    max-width: 90vw;
  }
  /* .header {
    display: flex;
    flex-direction: row;
  } */
}
