/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #5dade2;
  --secondary-color: #ebf5fb;
  --text-color: #273746;
  --background-color: #fbfcfc;
  --nav-background-color: white;
}

[data-theme="dark"] {
  --primary-color: #ff4500;
  --secondary-color: #bada55;
}
body {
  margin: 0px;
  padding: 0px;
  color: var(--text-color);
  font-weight: 800px;
  margin: 0px;
}
h1 {
  margin: 0px;
}
nav {
  font-size: 30px;
  max-height: 90px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin-bottom: 5px;
}
nav > a {
  padding: 10px;
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
  color: var(--text-colorcolor);
}

button {
  width: 100px;
  background-color: var(--secondary-color);
  border: 1px solid black;
  border-radius: 6px;
  justify-content: center;
  padding: 5px 5px;
  margin: 10px;
}
.header {
  padding: 10px;
  height: 55px;
  position: relative;
  background-color: var(--nav-background-color);
  border-bottom: 1px solid #bfc9ca;
}

.active {
  font-weight: 800;
}

.flexcolcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
