<div *ngIf="login$ | async as login">
  <div *ngIf="login" class="all-stores flex-col-center">
    <h2 class="header-text">Your Stores:</h2>
    <div class="separation"></div>

    <div *ngFor="let item of stores; index as i">
      <a
        routerLink="/store/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        ><button
          class="store-button primary-color"
          (click)="clickStore(item._id, item.name)"
        >
          {{ item.name }}
        </button></a
      >
      <h4>{{ item.address }}</h4>
    </div>
    <div class="separation"></div>

    <div>
      <button (click)="createStore()">Add Store</button>
    </div>
  </div>
</div>
<div *ngIf="!(login$ | async)" class="flex-col-center">
  <a routerLink="/login" routerLinkActive="active"> <h4>Log In</h4></a>
  <div class="separation"></div>

  <div class="text flex-col-center">
    <h2>AN OVERWHELMED WAITER WILL DRAMATICALLY AFFECT YOUR BUSINESS <br /></h2>
    <p>
      Besides your cuisine, the waiter experience will greatly affect your
      customers return rate! By overwhelming waiters, you will dramatically
      decrease customer service and ultimately affect your bottom line!
    </p>

    <div class="separation"></div>
    <h2>SOLUTION:</h2>
    <ul>
      <li class="noliststyle">
        <h4>Make optimal decision</h4>
        <ul>
          <li>
            Improve waiter service without neglecting customer wait-times! We
            make every second count!
          </li>
        </ul>
      </li>

      <li class="noliststyle">
        <h4>Focus on your Customers AND Waiters</h4>
        <ul>
          <li>Your waiters can break your business!</li>
        </ul>
      </li>
      <li class="noliststyle">
        <h4>Streamline customer management in a fast-paced environment</h4>
        <ul>
          <li>$$ Maximize Sales and Maximize Profits! $$</li>
        </ul>
      </li>
      <li class="noliststyle">
        <h4>Easy to use and easy to learn!</h4>
        <ul>
          <li>
            Intuitively visualize and manage your Waiter's active tables,
            optimizing the guest-to-customer flow
          </li>
        </ul>
      </li>
    </ul>
    <div class="separation"></div>
    <h1>Future Plans</h1>
    <ul>
      <li>
        Allow text notifications to guests, informing them when their tables are
        ready, with timing indicators.
      </li>
      <li>Allow customers accounts to request reservations</li>
      <li>Allow Owners to attach links to Menu/Google Maps</li>
      <li>Identify waiters and highlight them in order</li>
      <li>And More</li>
    </ul>
  </div>
</div>

<!--    [attr.data-storeId]="item._id" -->
<!-- <div>Current Count: {{ count$ | async }}</div>
<button (click)="increment()">+</button> -->
