<div *ngIf="login$ | async as login">
  <div *ngIf="login" class="all-stores flex-col-center">
    <h2 class="header-text">Your Stores:</h2>
    <div class="separation"></div>

    <div *ngFor="let item of stores; index as i">
      <a
        routerLink="/store/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        ><button
          class="store-button primary-color"
          (click)="clickStore(item._id, item.name)"
        >
          {{ item.name }}
        </button></a
      >
      <h4>{{ item.address }}</h4>
    </div>
    <div class="separation"></div>

    <div>
      <button (click)="createStore()">Add Store</button>
    </div>
  </div>
  <p *ngIf="!login">Please Log In.</p>
</div>

<!--    [attr.data-storeId]="item._id" -->
<!-- <div>Current Count: {{ count$ | async }}</div>
<button (click)="increment()">+</button> -->
