<div *ngIf="login$ | async as login">
  <div *ngIf="login" class="allStores flexcolcenter">
    <div>
      <button (click)="createStore()">New Store</button>
    </div>

    <div *ngFor="let item of stores; index as i">
      <h4>{{ item.address }}</h4>
      <a
        routerLink="/store"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        ><button class="storebutton" (click)="clickStore(item._id)">
          {{ item.name }}
        </button></a
      >
    </div>
    <p *ngIf="!login">Please Log In.</p>
  </div>
</div>

<!--    [attr.data-storeId]="item._id" -->
<!-- <div>Current Count: {{ count$ | async }}</div>
<button (click)="increment()">+</button> -->
