.all-stores {
  min-width: 350px;
  font-size: 25px;
}

.store-button {
  min-width: 200px;
  width: fit-content;
  padding: 15px;
  font-size: 20px;
}
.header-text {
  margin: 10px 0px;
}
.separation {
  margin-bottom: 5px;
}
